header {
    background-color:#ffc7de;
    opacity:0.9;
    border:3px dotted whitesmoke;
    text-align: center;
    color: #fff9fb;
    font-style: monospace;
    letter-spacing: 5px;
    font-size:140;
    margin-bottom:25px;
}
body {
    font-family:Garamond;
    background-image: url(https://images.pexels.com/photos/1831234/pexels-photo-1831234.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
}
footer {
    background-color:#ffc7de;
    opacity:0.9;
    border:3px dotted whitesmoke;
    color: #fff9fb;
}
.intro {
     background-image:linear-gradient(to bottom, #E8B8C8,#feeef7);
    width:500px;
    padding:10px;
    text-align: center;
    color:#6c0640;
    margin: auto;
}
.pictures, .details {
    display:inline-flex;
    flex-wrap:wrap;
    justify-content:center;
}
.img {
    width: 360px;
    height: 360px;
    margin-top:25px;
}
.desc {
    width: 340px;
    height: 340px;
    margin-top:25px;
    color:#552A5E;
    opacity:0.4;
    background-color:#e0c5e5;
    padding:10px;
    text-align:justify;
}
.details {
    column-gap:20px;
    row-gap:20px;
}
.pictures {
    column-gap:20px;
    row-gap:20px;
}
img {
    object-fit:cover;
}